<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">

  <title>Portfolio</title>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <nav class="navbar bg-body-dark w-100">
        <div class="container-fluid">
          <a class="navbar-brand"></a>
          <form class="d-flex" role="search" action="/search" method="post">
            <input class="form-control me-2" name="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </div>
  </div>
  <main class="my-5">
    <div class="container">
      <div class="row">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md col-sm">
          <div class="card-fluid text-center">
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p>Hey there, I am Roy. Welcome to my portfolio where I will showcase my knowledge and projects</p>
                <footer class="blockquote-footer">Currently learning to be a full-stack Web-Developer with React.js,
                  Express.js, and SQL.</footer>
              </blockquote>
            </div>
          </div>
        </div>
        <div class="col-md-1 col-sm-1"></div>
      </div>

      <div class="container-fluid justify-content-center my-3">
        <div class="container-fluid my-3">
          <div class="row justify-content-center">
            <div class="col-md"></div>
            <div class="col-md-auto col-lg-12 col-sm-12 text-center">
              <a href="https://github.com/roydebraj2003/" class="btn btn-outline-dark" target="_blank"
         style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
        Github
      </a>
      <a href="https://www.linkedin.com/in/debraj-roy-11b054282/" class="btn btn-outline-dark" target="_blank"
      style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
     Linkedin
   </a>
   <a href="https://twitter.com/roydebraj_2003" class="btn btn-outline-dark" target="_blank"
   style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
  Twitter
</a>
            </div>
            <div class="col-md"></div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <div class="container-fluid my-5">
    <div class="row">
      <div class="card-body text-center my-4">
        <blockquote class="blockquote mb-0">
          <p>Here are some of my projects.</p>
          <footer class="blockquote-footer">These projects below are ideas and still under construction.</footer>
        </blockquote>
      </div>

      <div class="col-md-3"></div>
      <div class="col-md col-lg col-sm">
        <div id="carouselExampleIndicators" class="carousel slide">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <a href="https://roydebraj2003.github.io/Blog" target="_blank">
                <img src="./picture/pexels-picography-4458.jpg" class="d-block w-100" alt="...">
              </a>
              <div class="card-body text-center my-4">
                <blockquote class="blockquote mb-0">
                  <p>Blog</p>
                  <footer class="blockquote-footer">This was my very first project. I've used only HTML & CSS while
                    making it, although it's not functional, I may think of upgrading it in the near future.</footer>
                </blockquote>
              </div>
            </div>

            <div class="carousel-item">
              <a href="https://github.com/roydebraj2003" target="_blank">
                <img src="./picture/pexels-mikael-blomkvist-6476587.jpg" class="d-block w-100" alt="...">
              </a>
              <div class="card-body text-center my-4">
                <blockquote class="blockquote mb-0">
                  <p>E-commerce Website</p>
                  <footer class="blockquote-footer">This project, I very soon intend to build when I am a little
                    familiar with the tools. I will be using react.js , express.js and for data base SQL</footer>
                </blockquote>
              </div>
            </div>

            <div class="carousel-item">
              <a href="https://github.com/roydebraj2003" target="_blank">
                <img src="./picture/pexels-romka- -2034373.jpg" class="d-block w-100" alt="...">
              </a>
              <div class="card-body text-center my-4">
                <blockquote class="blockquote mb-0">
                  <p>???</p>
                  <footer class="blockquote-footer">Something I will build from scratch. Once I learn all the frameworks i will start working on a new project.</footer>
                </blockquote>
              </div>
            </div>

          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="card-body text-center my-2">
        <blockquote class="blockquote mb-0">
          <p>Here are some of the teachnologies i know.</p>
          <footer class="blockquote-footer">Currently I am learning these, to build projects.</footer>
        </blockquote>
      </div>

      <div class="col-md-2 my-5">

      </div>
      <div class="col-md-5 ">
        <img src="./picture/1174949_js_react js_logo_react_react native_icon.png" class="img-fluid">
        <div class="progress my-2" role="progressbar" aria-label="Animated striped example" aria-valuenow="75"
          aria-valuemin="0" aria-valuemax="100" id="myProgressBar1">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-dark" style="width: 75%"
            id="myProgressBarFill1"></div>
        </div>
        <img src="./picture/4691303_mysql_icon.png" class="img-fluid">
        <div class="progress my-2" role="progressbar" aria-label="Animated striped example" aria-valuenow="75"
          aria-valuemin="0" aria-valuemax="100" id="myProgressBar2">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-dark" style="width: 75%"
            id="myProgressBarFill2"></div>
        </div>
        <img src="./picture/1916016_git_logo_media_social_icon.png" class="img-fluid">
        <div class="progress my-2" role="progressbar" aria-label="Animated striped example" aria-valuenow="75"
          aria-valuemin="0" aria-valuemax="100" id="myProgressBar3">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-dark" style="width: 75%"
            id="myProgressBarFill3"></div>
        </div>
        <img src="./picture/4375017_js_logo_node_icon.png" class="img-fluid">
        <div class="progress my-2" role="progressbar" aria-label="Animated striped example" aria-valuenow="75"
          aria-valuemin="0" aria-valuemax="100" id="myProgressBar4">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-dark" style="width: 75%"
            id="myProgressBarFill4"></div>
        </div>
        <img src="./picture/4373213_js_logo_logos_icon.png" class="img-fluid">
        <div class="progress my-2" role="progressbar" aria-label="Animated striped example" aria-valuenow="75"
          aria-valuemin="0" aria-valuemax="100" id="myProgressBar5">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-dark" style="width: 75%"
            id="myProgressBarFill5"></div>
        </div>

      </div>
      <div class="col-md my-5">
      </div>
    </div>
  </div>

  <div class="container my-5">
    <div class="row">
      <div class="card-body text-center my-4">
        <blockquote class="blockquote mb-0">
          <p>Contact me.</p>
          <footer class="blockquote-footer">
            I am available to work, so that i could get my hands on real projects to learn quickly.
          </footer>
          <footer class="blockquote-footer">roydebrajmusic@gmail.com</footer>
        </blockquote>
      </div>
      <div class="col-md-3"></div>
      <div class="col-md justify-content-center text-center">
        <form action="/process-form" method="post">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" name="email" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Write your mail</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" name="message" rows="3"></textarea>
            </div>
            <div class="mb-3">
                <button class="btn btn-outline-dark" target="_blank" type="submit"
                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                    Send mail
                </button>
            </div>
        </form>
    </div>
    
      <div class="col-md-3"></div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md">

        <div class="card-body text-center my-4">
          <blockquote class="blockquote mb-0">
            <p>About me.</p>
            <footer class="blockquote-footer">
              Currently I am a first year under-grad from Jorhat Enginnering College, Assam. I am pursuaing my degree in
              Computer science and Engg. I love playing chess, play piano and learn new thing, by the time this website
              is fully functioning i might add a few more hobbies.
            </footer>
          </blockquote>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>


  <script>
   var progressBar1 = document.getElementById('myProgressBar1');
var progressBarFill1 = document.getElementById('myProgressBarFill1');
var progressBar2 = document.getElementById('myProgressBar2');
var progressBarFill2 = document.getElementById('myProgressBarFill2');
var progressBar3 = document.getElementById('myProgressBar3');
var progressBarFill3 = document.getElementById('myProgressBarFill3');
var progressBar4 = document.getElementById('myProgressBar4');
var progressBarFill4 = document.getElementById('myProgressBarFill4');
var progressBar5 = document.getElementById('myProgressBar5');
var progressBarFill5 = document.getElementById('myProgressBarFill5');

// Change the progress bar value (percentage)
function setProgressBarValue(element, fillElement, newValue) {
  // Ensure the value is within the valid range (0 to 100)
  var sanitizedValue = Math.max(0, Math.min(100, newValue));

  // Update the aria-valuenow attribute
  element.setAttribute('aria-valuenow', sanitizedValue);

  // Update the width of the progress bar fill element
  fillElement.style.width = sanitizedValue + '%';
}

// Example: Set the progress bar value to 75%
setProgressBarValue(progressBar1, progressBarFill1, 10);
setProgressBarValue(progressBar2, progressBarFill2, 20);
setProgressBarValue(progressBar3, progressBarFill3, 65);
setProgressBarValue(progressBar4, progressBarFill4, 50);
setProgressBarValue(progressBar5, progressBarFill5, 45);

  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
    <script src="index.js"></script>
  </body>

</html>