body {
  background-image: url('workspace-with-office-tools-circle.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
}

@media (min-width: 767px) {
  body {
    background-image: url('workspace-with-office-tools-circle.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
  }
}

.footer {
  background-color: #000;
  background-position: center;
  color: #fff;
  padding: 15px;
  text-align: center;
  position: relative;
  bottom: 0px;
  width: 100%;
  border-top: 1px solid #333;
  font-size: 14px;
  box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.2);
}

.footer a {
  color: #fff;
  text-decoration: none;
}